body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background-color: #f0f0f0;
}

.controller {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}

.button {
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: 2px solid #2980b9;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    margin-bottom: 10px; /* Add margin between buttons */
    user-select: none; /* Disable text selection while holding down a button */
}

.button:active {
    background-color: #2980b9;
}

.picture-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drone-picture {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

/* Add margin between Left and Right buttons */
#leftButton {
    margin-right: 10px;
}

#rightButton {
    margin-left: 10px;
}

/* Place Left and Right buttons on the same line */
.leftright-container {
    display: flex;
}
